<!DOCTYPE html>
<h1>Story</h1>
<form>
  <p>
    <select name="relation.user1" [ngModel]="relation?.user1" (ngModelChange)="relation.user1=$event">
      <option *ngFor="let optionUser of allUsers" [ngValue]="optionUser" [selected]="optionUser?._id === relation?.user1?._id">
        {{optionUser.firstName}} {{optionUser.lastName}}
      </option>
    </select>
  </p>
  <p>
    <select name="relation.user2" [ngModel]="relation?.user2" (ngModelChange)="relation.user2=$event">
      <option *ngFor="let optionUser of allUsers" [ngValue]="optionUser" [selected]="optionUser?._id === relation?.user2?._id">
        {{optionUser.firstName}} {{optionUser.lastName}}
      </option>
    </select>
    <select name="relation.relationType" [ngModel]="relation?.relationType" (ngModelChange)="relation.relationType=$event">
      <option *ngFor="let relationType of allRelationTypes" [ngValue]="relationType">{{relationType.name}}</option>
    </select>
  </p>
  <button (click)="refresh()">Randomize</button>
</form>

<div>
  <p>
    {{relation?.user1?.pronouns.possessiveAdjective | capitalizeFirstLetter}} name was {{relation?.user1?.firstName}}.
  </p>
  <p>
    {{relation?.user1?.pronouns.subject | capitalizeFirstLetter}} was called {{relation?.user1?.firstName}} {{relation?.user1?.lastName}}.
  </p>
  <p>
    That name was {{relation?.user1?.pronouns.possessivePronoun}}.
  </p>
  <p>
    {{relation?.user1?.firstName}} is what they called {{relation?.user1?.pronouns.object}}.
  </p>
  <p [hidden]="relation?.relationType?.related">
    {{relation?.user1?.firstName}} and {{relation?.user2?.firstName}} are not related.
  </p>
  <p [hidden]="!relation?.relationType?.related">
    {{relation?.user1?.firstName}} and {{relation?.user2?.firstName}} are related.
  </p>
  <p [hidden]="noGenderDifference()">
    {{relation?.user2?.firstName}} is {{relation?.user1?.pronouns.possessiveAdjective}} {{getRelationType(relation?.user2)}} and {{relation?.user1?.firstName}} is {{relation?.user2?.pronouns.possessiveAdjective}} {{getRelationType(relation?.user1, true)}}.
  </p>
  <p [hidden]="!noGenderDifference()">
    {{relation?.user2?.firstName}} and {{relation?.user1?.firstName}} are {{getRelationType()}}s.
  </p>
</div>
