<!DOCTYPE html>
<h1>Hello {{userDetails.firstName}} {{userDetails.lastName}}</h1>
<h3>Email:</h3>
<p><a href="mailto:{{email}}">{{email}}</a></p>
<h3>Address:</h3>
<p>{{address.street}} {{address.city}}, {{address.state}}</p>
<button (click)="toggleHobbies()">{{showHobbies ? 'Hide hobbies' : 'Show hobbies'}}</button>
<div *ngIf="showHobbies">
  <h3>Hobbies</h3>
  <ul>
    <li *ngFor="let hobby of hobbies; let i = index">
      {{hobby}}
      <button (click)="deleteHobby(i)">X</button>
    </li>
  </ul>
  <form (submit)="addHobby(hobby.value)">
    <p>
      <label for="add-hobby">Add hobby:</label>
      <input id="add-hobby" type="text" #hobby/>
    </p>
  </form>
</div>
<hr/>
<h3>Edit user</h3>
<form>
  <p>
    <label for="user-first-name">First name:</label>
    <input id="user-first-name" type="text" name="userDetails.firstName" [(ngModel)]="userDetails.firstName"/>
  </p>
  <p>
    <label for="user-last-name">Last name:</label>
    <input id="user-last-name" type="text" name="userDetails.lastName" [(ngModel)]="userDetails.lastName"/>
  </p>
  <p>
    <label for="user-gender">Gender:</label>
    <select id="user-gender" name="userDetails.gender" [(ngModel)]="userDetails.gender">
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="other">Other</option>
    </select>
  </p>
  <p>
    <label for="user-email">Email:</label>
    <input id="user-email" type="text" name="email" [(ngModel)]="email"/>
  </p>
  <p>
    <label for="user-address-street">Street:</label>
    <input id="user-address-street" type="text" name="address.street" [(ngModel)]="address.street"/>
  </p>
  <p>
    <label for="user-address-city">City:</label>
    <input id="user-address-city" type="text" name="address.city" [(ngModel)]="address.city"/>
  </p>
  <p>
    <label for="user-address-state">State:</label>
    <input id="user-address-state" type="text" name="address.state" [(ngModel)]="address.state"/>
  </p>
  <button (click)="updateUser()">Save</button>
</form>
<hr/>
<h3>Posts</h3>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>
